-if @word.nil?
  -@word = @objective.words.build
= simple_form_for([@objective, @word]) do |f|
  = f.error_notification

  .form-inputs
    = f.input :english
    = f.input :spanish
    = f.input :description
    = f.file_field :image

  .form-actions
    = f.button :submit
